/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero-pattern {
  background-color: #000; /* Dark background color */
}
body {
  @apply bg-white text-black;
}

.dark body {
  @apply bg-gray-900 text-white;
}

@keyframes floatImage {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-floatImage {
  animation: floatImage 4s ease-in-out infinite;
}
